.main_container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 2em;
  margin-bottom: 8.5em;
}
.main_title h1 {
  color: var(--primary-color);
  font-size: 5em;
}
.main_title h3 {
  color: var(--secondary-color);
  font-size: 1.25em;
  padding-top: 1em;
  padding-bottom: 1em;
}
