@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:wght@300;400;500&display=swap');

:root {
  --primary-color: #a162bf;
  --secondary-color: #f1c7ff;
  --black-color: #09090a;
  --white-color: #fff9ff;
  --white-20: rgba(255, 249, 255, 0.2);
  --white-30: rgba(255, 249, 255, 0.3);
  --gradient: linear-gradient(
    180deg,
    rgba(167, 62, 231, 1) 0%,
    rgba(0, 235, 255, 1) 100%
  );
  --gradient-2: linear-gradient(
    34deg,
    rgba(0, 218, 234, 0.25) 0%,
    rgba(29, 19, 139, 0.25) 51%,
    rgba(196, 65, 244, 0.25) 100%
  );
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--black-color);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  /*font-family: "Lato", sans-serif; */
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  /*font-family: "Lato", sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.App {
  /*font-family: "Lato", sans-serif; */
  font-family: 'Poppins', sans-serif;
}
